@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 270 14% 97%;
    --foreground: 270 10% 20%;
    --card: 270 14% 100%;
    --card-foreground: 270 10% 20%;
    --popover: 270 14% 100%;
    --popover-foreground: 270 10% 20%;
    --primary: 270 43% 69%;
    --primary-foreground: 270 43% 99%;
    --secondary: 270 20% 93%;
    --secondary-foreground: 270 10% 20%;
    --muted: 270 20% 94%;
    --muted-foreground: 270 10% 45%;
    --accent: 210 43% 63%;
    --accent-foreground: 210 43% 99%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 270 20% 88%;
    --input: 270 20% 88%;
    --ring: 270 43% 69%;
    --chart-1: 270 43% 69%;
    --chart-2: 210 43% 63%;
    --chart-3: 270 43% 50%;
    --chart-4: 210 43% 50%;
    --chart-5: 270 43% 80%;
    --radius: 0.5rem;
    --sidebar-background: 270 14% 97%;
    --sidebar-foreground: 270 10% 20%;
    --sidebar-primary: 270 43% 69%;
    --sidebar-primary-foreground: 270 43% 99%;
    --sidebar-accent: 270 20% 93%;
    --sidebar-accent-foreground: 270 10% 20%;
    --sidebar-border: 270 20% 88%;
    --sidebar-ring: 270 43% 69%;
  }
  .dark {
    --background: 270 10% 10%;
    --foreground: 270 10% 80%;
    --card: 270 10% 12%;
    --card-foreground: 270 10% 80%;
    --popover: 270 10% 12%;
    --popover-foreground: 270 10% 80%;
    --primary: 270 43% 69%;
    --primary-foreground: 270 10% 5%;
    --secondary: 270 10% 20%;
    --secondary-foreground: 270 10% 90%;
    --muted: 270 10% 20%;
    --muted-foreground: 270 10% 55%;
    --accent: 210 43% 63%;
    --accent-foreground: 210 10% 5%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 270 10% 25%;
    --input: 270 10% 25%;
    --ring: 270 43% 69%;
    --chart-1: 270 43% 69%;
    --chart-2: 210 43% 63%;
    --chart-3: 270 43% 50%;
    --chart-4: 210 43% 50%;
    --chart-5: 270 43% 80%;
    --sidebar-background: 270 10% 10%;
    --sidebar-foreground: 270 10% 80%;
    --sidebar-primary: 270 43% 69%;
    --sidebar-primary-foreground: 270 10% 5%;
    --sidebar-accent: 270 10% 20%;
    --sidebar-accent-foreground: 270 10% 90%;
    --sidebar-border: 270 10% 25%;
    --sidebar-ring: 270 43% 69%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
